<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     <display-name>Shengsiyuan Application</display-name>
     <welcome-file-list>
          <welcome-file>index.jsp</welcome-file>
          <welcome-file>default.html</welcome-file>
          <welcome-file>default.htm</welcome-file>
          <welcome-file>default.jsp</welcome-file>
     </welcome-file-list>
     <context-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
          <!-- classpath:/applicationContext*.xml -->
     </context-param>
     <listener>
          <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
     <session-config>
          <session-timeout>30</session-timeout>
     </session-config>
     <filter>
          <filter-name>simplemvc</filter-name>
          <filter-class>com.yuqiaotech.helloj2ee.mvc.DispatcherFilter</filter-class>
          <init-param>
               <param-name>configFile</param-name>
               <param-value>/mvc.xml</param-value>
          </init-param>
     </filter>
     <filter-mapping>
          <filter-name>simplemvc</filter-name>
          <url-pattern>*.mvc</url-pattern>
     </filter-mapping>
     <servlet>
          <description>This is the description of my J2EE component</description>
          <display-name>This is the display name of my J2EE component</display-name>
          <servlet-name>GuessNumber</servlet-name>
          <servlet-class>edu.jiangxin.guessnumber.GuessNumber</servlet-class>
     </servlet>
     <servlet-mapping>
          <servlet-name>GuessNumber</servlet-name>
          <url-pattern>/GuessNumber</url-pattern>
     </servlet-mapping>
     <jsp-config>
          <taglib>
               <taglib-uri>http://javaxp.net/xl</taglib-uri>
               <taglib-location>/WEB-INF/xianlin.tld</taglib-location>
          </taglib>
     </jsp-config>
</web-app>